/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS Starts Here for Google Website*/


#navbar {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 60%;
    	border: none;
}

ul{
	position: relative;
	width: 100%;
	left: 50%;
	bottom: 2px;
	
	
}


#navbar li {
	display: inline-block;
	padding: 5px;
	font-family: Arial;
	font-size: small;
	color: #686868;
	border-radius: 5px 5px;
	background-color: #FFFFFF;
	
}

#Google_Bell{
	height: 30px;
	widght: auto;
	position: relative;
	top: 8px;
	opacity: .5;
}





#Mike_Head{
	height: 30px;
	widght: auto;
	position: relative;
	top: 8px;
}

#navbar li a{
	text-decoration: none;
	
}

#navbar li a:link{
	color: #303030;
	
}

#navbar li a:visited{
	color: #303030;
	
}

#navbar li a:hover{
	text-decoration: underline;
	
}





#Google_Logo{
	width: 24%;
	height: auto;
	position: absolute;
	left: 38%;
	top: 25%;
	

}

#Frequent_Sites{
	border: none;
	height: 40%;
	width: 50%;
	position: absolute;
	bottom: 7%;
	right: 25%;
	text-align:center;
}

.Quick_Links{
	border:1px solid #989898;
	border-radius: 5px;
	width: 20%;
	height: auto;
	margin: 1% 1.5% 5% 1.5%;
	
	 
}

.Quick_Links:hover{
	border:1px solid #585858;
	border-radius: 5px;
	width: 20%;
	height: auto;
	margin: 1% 1.5% 5% 1.5%;
}

input{
	position: absolute;
	top: 42.5%;
	left: 27%;
	height: 30px;
	width: 46%;
	font-size: 24px;
	font-family: Garamond;

}	


	



